#root {
  width: 100%;
}

/************************* NAVBAR *******************************/
.navBar input {
  display: none;
  z-index: 1000;
}

.navBar {
  position: fixed;
  top: 60px;
  z-index: 1000;
  width: 100%;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 40px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}

/* BURGUER MENU */
.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  width: 45%;
  border-bottom: 4px solid #000;
  transition: transform .4s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s ease;
  border-radius: 2px;
}

.menu-btn:before {
  transform: translateY(-8px);
}

.menu-btn:after {
  transform: translateY(8px);
}

/* BURGUER MENU ARROW DOWN ON HOVER */
.menu-btn:hover span {
  opacity: 0
    /* Hide the middle span on hover */
}

.menu-btn:hover:before {
  transform: translateX(7px) rotate(-45deg);
  /* Rotate top span to form arrow */
}

.menu-btn:hover:after {
  transform: translateX(-7px) rotate(45deg);
  /* Rotate bottom span to form arrow */
}

/* BURGUER MENU CROSS ON CLICK */
#active:checked+.menu-btn span {
  transform: scaleX(0);
}

#active:checked+.menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
  width: 55%;
}

#active:checked+.menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
  width: 55%;
}

/* BURGUER MENU ARROW UP ON HOVER */
#active:checked+.menu-btn:hover:before {
  transform: translateX(9px) rotate(45deg);
  /* Rotate the top span to form arrow pointing up */
}

#active:checked+.menu-btn:hover:after {
  transform: translateX(-9px) rotate(-45deg);
  /* Rotate the bottom span to form arrow pointing up */
}

.dropdownMenu {
  position: fixed;
  top: -100%;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(-45deg, #a4c6fa 0%, #e3b8ff 100%);
  transition: all 0.4s ease-in-out;
  z-index: 2;
}

#active:checked~.dropdownMenu {
  top: 0%;
}

.dropdownMenu ul {
  position: absolute;
  top: 80%;
  left: 44%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.dropdownMenu ul li {
  height: 10%;
  margin: 15px 0;
}

.dropdownMenu ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  padding: 5px 30px;
  color: #fff;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  transition: all 0.5s ease;
}

.dropdownMenu ul li a:hover {
  color: #744792;
}
/* .close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
} */

.socialIcon {
  position: fixed;
  top: 50%;
  left: -80px;
  transform: translateY(-50%);
  width: 150px;
  height: 70px;
  background: -webkit-linear-gradient(-45deg, #a4c6fa 0%, #e3b8ff 100%);
  overflow: hidden;
  transition: all 0.3s ease;

}

.socialIcon:hover {
  left: 0; /* Expand on hover */
}

.socialIconLink {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  padding-right: 20px;
  gap: 20px;
}
.socialIconLink p {
  color: white;
}
@media (max-width: 576px) {
  .socialIcon {
    display: none;
  }
}
/************************* WRAPPER *******************************/
.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 250;
  color: #707070;
}

.sectionTextWrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.title {
  background: -webkit-linear-gradient(-45deg, #a4c6fa 0%, #e3b8ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

button {
  font-size: 0.9rem;
  border: 2px solid rgb(155, 155, 155);
  border-radius: 50px;
  text-transform: uppercase;
  padding: 15px 20px 15px 20px;
  color: rgb(138, 138, 138);
  font-weight: bold;
  background: none;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

button:hover {
  background: linear-gradient(-45deg, #a4c6fa 0%, #e3b8ff 100%);
  color: white;
  border: 2px solid white;
}

.icon {
  font-size: 1.3rem;
}
@media (max-width: 576px) {
  button {
    font-size: 0.7rem;
    padding: 10px 15px 10px 15px;
  }
  .icon {
    font-size: 1rem;
  }
}
/************************* HEADER *******************************/

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerText {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hi {
  margin-bottom: -10px;
  /* background: -webkit-linear-gradient(#a4c6fa 0%, #e3b8ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-weight: 800;
  /* color: #dc92ff; */
  color: #b9b9b9;
}
.headerText h1 {
  font-size: 4rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#7dacf3 0%, #bc64f7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -20px;
  color: #808080;
}
.headerText h2 {
  color: #808080;
  font-size: 2.95rem;
  background: -webkit-linear-gradient(#7dacf3 0%, #bc64f7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
}
.headerText p {
  max-width: 563px;
}
.headerText button {
  margin-top: 20px;
}
.arrowDown {
  position: absolute;
  padding-top: 90vh;
  font-size: 50px;
  animation: moveUpDown 2s infinite;
  cursor: pointer;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .headerText h1 {
    font-size: 3rem;
  }
  .headerText h2{
    font-size: 2.2rem;
  }
  .headerText p {
    max-width: 424px;
  }
}
@media (max-width: 576px) {
  .headerText {
    align-items: flex-start;
    text-align: left;
    margin-left: 20px;
  }
  .headerText h1 {
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .headerText h2 {
    line-height: 1;
    margin-bottom: 10px;
  }
  .headerText p {
    max-width: 300px;
    font-size: 0.92rem;
  }
}
/************************* PROJECTS *******************************/
/* .projects p {
  margin-bottom: 10px;
  font-size: 1rem;
} */
.projects {
  margin-top: 200px;
}
.portfolioProjects {
  margin: 50px 0 100px 0;
  overflow: hidden;
}

.firstRow,
.secondRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 30px
}

.portfolioOne,
.portfolioTwo,
.portfolioThree,
.portfolioFour {
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.portfolioOne {
  width: 60%;
}
.portfolioTwo {
  width: 40%;
}
.portfolioThree {
  width: 40%;
}
.portfolioFour {
  width: 60%;
}
.portfolioProjects img {
  height: 100%;
  object-fit: contain;
}

.overlayOne,
.overlayTwo,
.overlayThree,
.overlayFour {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.overlayOne:hover,
.overlayTwo:hover,
.overlayThree:hover,
.overlayFour:hover {
  opacity: 1;
}

.portfolioProjects h3 {
  font-size: 2rem;
  /* width: 70%; */
  color: white;
  margin: 0 auto;
  text-align: center;
}

.portfolioProjects p {
  font-size: 1.2rem;
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 80%;

}

.portfolioProjects ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  gap: 10px;
}

.portfolioProjects li {
  background-color: white;
  color: #808080;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 50px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.links a {
  background: linear-gradient(-45deg, #a4c6fa 0%, #e3b8ff 100%);
  padding: 10px 15px;
  margin: 10px;
  width: auto;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* @media (max-width: 992px) {

  .firstRow,
  .secondRow {
    flex-direction: column;
  }
} */

/************************* TOOLKIT *******************************/
.toolkit {
  margin-top: 200px;
}

.toolkitContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.toolkitContainer {
  list-style: none;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0 auto;
  width: 100%;
  gap: 50px;
}

.toolkitContainer li {
  width: 80px;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(138, 138, 138);
}

.toolkitContainer p {
  font-size: 1rem;
  margin: 10px 0;
}
/************************* ABOUT ME *******************************/
.aboutMe {
  margin-top: 200px;
}
.aboutmeContainer {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.aboutmeContainer p {
font-size: 1rem;
}
.tex {
 /* max-width: 60%; */
 text-align: justify;
}
.aboutmeContainer span {
  font-weight: 500;
  color: #000;
}
.imageContainer {
  /* width: 80%; */
  max-width: 250px;
}

.imageContainer img {
  width: 100%;
  border-radius: 20px;
  /* height: 100%; */
}

/************************* CV *******************************/
.cv {
margin-top: 200px;
}

.buttonsCV {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/************************* CONTACT *******************************/
.contact {
margin-top: 200px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

.contact input,
textarea {
  background: none;
  color: #333333;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #333333;
  font-family: "Karla", sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  top: -14px;
  font-size: 12px;
  color: #333333;
}

input:focus~.bar:before,
textarea:focus~.bar:before {
  width: 320px;
}

/* .bar {
  position: relative;
  display: block;
  width: 320px;
  height: 1px;
  background-color: #333333;
} */
.bar:before {
  content: "";
  height: 3px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: linear-gradient(-45deg, #a4c6fa 0%, #e3b8ff 100%);
  transition: 300ms ease all;
  left: 0%;
}

.contact label {
  color: #969696;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.notification {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(-45deg, #a4c6fa 0%, #e3b8ff 100%);
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  animation: slide-up 0.5s ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateX(-50%) translateY(100%);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}

/************************* FOOTER *******************************/

.footer {
  text-align: center;
  margin-top: 150px;
}

.socialMediaLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 10px;
}

.socialMediaLinks a {
  color: rgb(138, 138, 138);
  font-size: 2.2rem
}

.footer p {
  font-size: 1rem;
}